version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gorkycode_backend_db
      PGPORT: 5431
    ports:
      - "5431:5431"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: