* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FF9F44;
    font-family: 'Pixel';
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label {
    font-size: 10px;
}
.wrapper {
    width: 420px;
    background: transparent;
    border: 3px solid #FF9F44;
    backdrop-filter: blur(40%);
    border-radius: 1rem;
    padding: 30px 40px;
    color: #FF9F44;
    box-shadow: 1px 1px #1c1c1c;
}
.wrapper h1 {
    font-size: 24px;
    text-align: center;
}
.wrapper  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
width: 100%;
height: 100%;
font-size: 8px;
background: transparent;
outline: none;
border: 2px solid #FF9F44;
border-radius: 40px;
padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
color: #f8b371;
font-family: 'Pixel';
font-size: 8px;
}
.input-box i {
position: absolute;
right: 20px;

}
.remember-fogot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-fogot label input{
    accent-color: #F89430;
    margin-right: 3px;
}
.remember-fogot a {
    color:#F89430;
    ;
    text-decoration: none;
}
.remember-fogot a:hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #FF9F44;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 600;

}
.register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
} 
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link {
font-size: 0.7rem;
}
.remember-fogot {
font-size: 0.7rem;
}