.account_body {
    color: #FF9F44;
    font-family: 'Pixel'; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.dashboard-container {
    width: 90%; 
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 20px;
}

.dashboard-header {
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 20px;
}

.profile-card {
    padding: 40px;
    border-radius: 14px;
    border: 1px solid #FF9F44;
    display: grid;
    grid-template-columns: 240px 1fr; 
    gap: 30px;
    align-items: center;
}

.profile-avatar {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-avatar img {
    width: 100%;
    height: 100%;
}

.avatar-icon {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.user-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.stats {
    margin: 5px 0;
    font-size: 0.9rem;
}

.navigation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.nav-button {
    font-family: 'Pixel';
    height: 150px;
    font-size: 15px;
    border: 1px solid #FF9F44;
    color: #fff;
    border-radius: 14px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.profile-card:hover {
    transform: translateY(-2px);
}   

.nav-button:hover {
    transform: translateY(-2px);
}
.saved-routes {
    background: url('/static/src/images/marh.png');
    background-size: 400px;
    background-position: 0 0px;
}

.saved-locations {
    background: url('/static/src/images/kreml.png');
    background-size: 400px;
    background-position: 0 0px;
}
.nav-button a {
    text-decoration: none;
    color: #fff;
}
.routes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
  }
  
  .route-card {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--color-button);
    width: 280px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .route-card:hover {
    transform: scale(1.03);
  }
  
  .open-route-btn {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .route-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .route-modal-content {
    background: linear-gradient(to bottom, #2b2b2b, #554433);;
    border-radius: 30px;
    border: solid 1px var(--color-button);
    padding: 30px;
    width: 80%;
    max-width: 900px;
    position: relative;
  }
  .modal-map {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden; 
    border: 1px solid var(--color-button);
    position: relative;
  }
  
  
  
  .close-modal {
    position: absolute;
    color: var(--h1);
    right: 20px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
  }
  
  .routes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .route-card {
    color: var(--h1);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease;
  }
  .modal-title {
    padding-bottom: 1rem;
    font-size: 15px;
    color: var(--h1);
  }
  .route-card h3 {
    font-size: 11px;
  }
  .route-card:hover {
    transform: scale(1.03);
  }
  
  .open-route-btn {
    background: #FF9F44;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'Pixel';
  }
  
  .hidden {
    display: none !important;
  }